.temp-hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px dashed black;}
table.gld-table{width: 100%; border-collapse: collapse; }
table.gld-table > tbody > tr > th,td{text-align: center;}
body{font-size: 11px;}
.print-gold>table>tbody>tr>th, td {font-size: 10pt;}
